.home {
    background-color: rgb(9, 240, 9);
    text-align: center;
    justify-content: center;
}

.welcome-message{
    margin-bottom: 100px;
}

.find-service{
    margin-bottom: 100px;
}

.offer-service{
    margin-bottom: 100px;
}