.login {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
  }
  
  .loginForm {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: left;
    margin-bottom: 50px;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .loginForm div {
    margin-bottom: 10px;
  }
  
  .loginForm input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  

  .login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0400ff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 25px; /* Increased border-radius for a rounder look */
    cursor: pointer;
    margin-left: 10px;
    height: 36px; /* Increased height for better visibility and touch area */
    margin-top: 5px;
    font-size: 16px; /* Adjust font size for better readability */
    font-weight: bold; /* Make the text bold for emphasis */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add a smooth transition effect */
  }
  
  .login-button:hover {
    background-color: #e66200; /* Darker background color on hover for an interactive feel */
    transform: scale(1.05); /* Slight scale effect on hover */
  }
  
  .login-button:active {
    transform: scale(0.95); /* Slight scale effect when the button is clicked */
  }
  
 @media (max-width: 768px) {
  .signUpForm {
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .signUpForm {
    margin: 0 auto;
  }
}




