.profile {
  text-align: center;
}

.loading {
  font-size: 18px;
  color: #666;
  margin-top: 20px;
}

.singlePost {
  margin: 10px;
  border-color: blue;
  background-color: rgba(219, 232, 195, 0.989);
  flex-grow: 1;
  text-align: left;
}

.singlePost {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.singlePost strong {
  font-weight: bold;
}

.singlePost a {
  text-decoration: none;
  color: #0077cc;
}

.singlePost a:hover {
  text-decoration: underline;
}

.posts {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  /* Center the container horizontally */
  max-width: 600px;
  /* Limit the maximum width */
}

.posts h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.updateButton,
.searchButton,
.deleteButton {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
}

.updateButton:active,
.deleteButton:active,
.searchButton:active {
  transform: scale(0.95); /* Slight scale effect when the button is clicked */
}


.updateButton {
  background-color: #007bff;
}

.updateButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.searchButton {
  background-color: #00ff00;
}

.searchButton:hover {
  background-color: #00b300;
  transform: scale(1.05);
}

.deleteButton {
  background-color: #ff0000;
}

.deleteButton:hover {
  background-color: #c40000;
  transform: scale(1.05);
}


.createUserButton {
  margin-bottom: 15px;
}

.update-message {
  font-size: 16px;
  color: #f0eded;
  margin: 10px 0;
  padding: 10px;
  background-color: #052df4;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.delete-message {
  font-size: 16px;
  color: #f0eded;
  margin: 10px 0;
  padding: 10px;
  background-color: #f3200d;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.rutFilter {
  margin-bottom: 16px;
}