.post {
    background-color: brown;
}

.createNewPost {
    background-color: yellow;
    margin-bottom: 30px;
    margin-top: 20px;
}

.singlePost {
    margin: 10px;
    border-color: blue;
    background-color: white;
    flex-grow: 1;
    text-align: left;
}

.createButton {
    margin-left: 50px;
}

.deleteButton {
    margin-left: 60px;
}

.filters {
    background-color: blueviolet;
}