.post {
    background-color: brown;
}

.singlePost {
    margin: 10px;
    border-color: blue;
    background-color: white;
    flex-grow: 1;
    text-align: left;
}

.createButton {
    margin-left: 50px;
}

.deleteButton {
    margin-left: 60px;
}