.postContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}


.filters {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 10px;

}


.filters h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.filters .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column; /* Display inputs below labels */
}


.filters label {
    margin-bottom: 5px;
    font-weight: bold;
}


.filters input,
.filters select {
    width: 100%; /* Full width for inputs */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}





.post {
    background-color: #f9821a;
    margin-top: 30px;
}






.filters h2,
.filters button {
    text-align: center;
    margin: 0 auto;
    display: block;
}


.filters input,
.filters select {
    width: 50%;
}

.posts {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Center the container horizontally */
  max-width: 900px; /* Limit the maximum width */
}

  
  .posts h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  


  
  

.displayButton {
  background-color: #0077cc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  max-height: 40px;
  max-width: 250px;
}

.displayButton:hover {
  background-color: #005ea6;
}

@media screen and (max-width: 768px) {
  .displayButton {
    font-size: 14px;
    padding: 8px 16px;
  }
}


.successMessage {
  background-color: #4caf50; /* Green color for success message */
  color: #e8f5e9; /* Light green background color */
  border: 1px solid #337c37; /* Dark green border */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.filters {
  display: flex;
  width: 100%;
}

.filter-button {
  height: 10px;
  background-color: #0056b3;
  color: white;
  font-size: large;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  width: 130px;
}


.filter-button:hover {
  background-color: #ccb800d3;
  transform: scale(1.05);
}

.singlePost {
  display: flex;
  flex-direction: row;
}

.postCell {
  margin-right: 75px;
  border: solid 1px black;
}

.singlePost {
  margin-bottom: 50px;
}